@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is project for Akademia C#. In YouTube video below i explain all code which is behind this side. </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kBGF6V9Szgw" frameborder="0" allowfullscreen></iframe>