@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rafał Leszczewski<br />
    
    <abbr title="Phone">P:</abbr>
    784396743
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rleszczewski@gmail.com">rleszczewski@gmail.com</a><br />
    
</address>